* {
    box-sizing: border-box;
}


body {
    background-color: #FDFCFF;
    padding: 20px;
    font-family: Futura;
}

h1 {
  text-align: center;
}

/* project titles  */
h2 {
  text-align: center;
  padding: 20px;
}

p {
  /* padding-left: 200px; */
  /* padding-right: 50px; */
  text-align: justify;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 75%;
}


.imgsize {
  /* padding-left: 200px; */
  width: 500px;
}

.floatleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.floatright {
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* for grid */
  /* Center website */
  .main {
      max-width: 1000px;
      margin: auto;
  }

  .row {
      margin: 8px -16px;
  }

  /* Add padding BETWEEN each column */
  .row,
  .row>.column {
      padding: 8px;
  }

  /* Create four equal columns that floats next to each other */
  .column {
      float: left;
      width: 25%;
  }

  /* Clear floats after rows */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* Content */
  .content {
      background-color: #E8E8F4;
      padding: 10px;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
      .column {
          width: 50%;
      }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
      .column {
          width: 100%;
      }
  }
/* end grid css */

/* for navbar */
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: 0;
      overflow: hidden;
      background-color: #141C48;
    }
  
  li {
      float: left;
    }
  
  li a {
      display: block;
      color: #FDFCFF;
      padding: 15px 30px;
      text-decoration: none;

    }
  
  li a:hover:not(.active) {
      background-color: #8D92C8;
    }
  
  .active {
      background-color: #E8E8F4;
      color: #141C48;
    }

  a:link {
      text-decoration: none;
    }

/* end navbar css */


/* for text overlay on image */
  .container {
      position: relative;
    }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #8D92C8;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
/* end overlay css */

